/* 
    Document   : pesquisa
    Created on : 21/03/2012, 20:26:41
    Author     : Moises
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.ui-dialog{
top: 4px !important;
}
